:root {
  --cursive-title: 'Herr Von Muellerhoff', cursive;
  --uppercase-title: 'Source Sans Pro', sans-serif;
  --text-font: 'Cabin', sans-serif;

  // --primary-color: #c59d5f;
  --primary-color: #cd9b33;

  --black-background: #222;

  --subtitle-color: #252525;
  --text-color: #515151;
  --text-color-light: #808080;

  --white: #f5f5f5;
}
